<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426246823212-nh1hfgnniahkjasak29snklj53imm41n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426246823212-nh1hfgnniahkjasak29snklj53imm41n</string>
	<key>API_KEY</key>
	<string>AIzaSyDu9mFs3TrXWx1MKUejkp0-oK-5SZzYy-M</string>
	<key>GCM_SENDER_ID</key>
	<string>426246823212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatDemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-demo-372ed</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-demo-372ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426246823212:ios:b0f1bdf13eca4d6212e089</string>
</dict>
</plist>